body {
    background-color: black;
    font-family: monospace;
}

@font-face {
  font-family: Freestyle;
  src: url("/content/Freestyle Script Plain.otf");
}

@font-face {
  font-family: Cursive;
  src: url("/content/EduNSWACTCursive-Medium.ttf");
}

h1 {
  color:white;
  font-family: Freestyle;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  position: relative;
  bottom: 17px;
  color: lightgray;
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  text-decoration: none;
}

h3 {
  color: #ad11f0;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 3%;
  padding: 0;
  text-align: center;
}

h4 {
  color: #929292;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  text-align: center;
}

.noteback {
  position: absolute;
  width: 100px;
  height: 100px;
}

.notehead {
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  font-family: Cursive;
  font-size: 14px;
}

.notebody {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  font-family: Cursive;
  font-size: 13px;
}

.orangeback {
  background-image: linear-gradient(to bottom right, #f99823, #b86c10);;
}
.orangehead {
  background-color: #e8810a;
}

.greenback {
  background-image: linear-gradient(to bottom right, #7cf923, #5eca11);;
}
.greenhead {
  background-color: #64dd0d;
}

.blueback {
  background-image: linear-gradient(to bottom right, #23dcf9, #0b9bb1);;
}
.bluehead {
  background-color: #12cbe8;
}

.yellowback {
  background-image: linear-gradient(to bottom right, #d5f923, #a5c40e);;
}
.yellowhead {
  background-color: #accb11;
}

.purpleback {
  background-image: linear-gradient(to bottom right, #a723f9, #7b0ebe);;
}
.purplehead {
  background-color: #8711d0;
}

.contact {
  border: 2px dashed #d5c818;
  width: 300px;
  margin: 20px auto;
  padding: 14px;
}

.contacttext {
  color: white;
  text-align: center;
  margin: 0;
  font-weight: 300;
}

b {
  color: #c61ae4;
  font-weight: 900;
}

.email {
  display: block;
  color: #1ae4e1;
  text-align: center;
  width: 100%;
}

.email:visited {
  color: #1a9de4;
}

.copyright {
  color: gray;
  text-align: center;
  font-weight: 300;
}

.wip {
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

.hide {
  opacity: 0;
}