body {
    background-color: black;
    font-family: monospace;
}

@font-face {
  font-family: Freestyle;
  src: url("/content/Freestyle Script Plain.otf");
}

h1 {
  color:white;
  font-family: Freestyle; /* use font */
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  position: relative;
  bottom: 17px;
  color: lightgray;
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  text-decoration: none;
}

h3 {
  color: #ad11f0;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 3%;
  padding: 0;
  text-align: center;
}

h4 {
  color: #929292;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  text-align: center;
}

.topbar {
  display: block;
  width: 98%;
  max-width: 600px;
  margin: auto;
}

#cSButton {
  float: right;
  border-radius: 0px;
  color:gray;
  background-color: rgb(40, 40, 40);
  border: solid 4px rgb(14, 14, 14);
  cursor: no-drop;
}

label {
  float: left;
  color:white;
  background-color: rgb(40, 40, 40);
  border: solid 4px rgb(14, 14, 14);
  cursor: pointer;
  padding: 2px;
}

input {
  display: none;
}

.imageholder {
  position: relative;
  display: block;
  width: 98%;
  max-width: 600px;
  min-height: 20%;
  margin: auto;
  margin-top: 2%;
}

canvas {
  width: 100%;
  height: 100%;
  border: solid 2px gray;
}

#filename {
  position: absolute;
  color: white;
  text-align: center;
  bottom: -2px;
  font-size: 20px;
  width: 100%;
}

#formatlogo {
  position: absolute;
  bottom: 53px;
}

#formatlogo {
  position: relative;
  margin: 0px auto;
  width: 50px;
}

.formatdata {
  border: 1px solid gray;
  color: white;
  border-collapse: separate;
  padding: 10px;
  margin: 0px auto;
  width: 75%;
  max-width: 500px;
}

.formatborder {
  border-bottom: 1px solid gray;
}

.imager {
  text-align: center;
  color:gray;
}

span {
  color:rgb(30, 228, 12);
  font-weight: 900;
}

.contact {
  border: 2px dashed #d5c818;
  width: 300px;
  margin: 20px auto;
  padding: 14px;
}

.contacttext {
  color: white;
  text-align: center;
  margin: 0;
  font-weight: 300;
}

b {
  color: #c61ae4;
  font-weight: 900;
}

.email {
  display: block;
  color: #1ae4e1;
  text-align: center;
  width: 100%;
}

.email:visited {
  color: #1a9de4;
}

.copyright {
  color: gray;
  text-align: center;
  font-weight: 300;
}

.hide {
  opacity: 0;
}