body {
    background-color: black;
}

@font-face {
  font-family: Freestyle;
  src: url("/content/Freestyle Script Plain.otf");
}

h1 {
  color:white;
  font-family: Freestyle; /* use font */
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}